<div class="form-group">
  <label for="txtServerName">Server Name</label>
  <input
    type="text"
    class="form-control"
    id="txtServerName"
    placeholder="First word that comes to your mind"
    [(ngModel)]="serverName"
  />
</div>
<div class="form-group">
  <label for="txtServerValiidty">Validity</label>
  <input
    type="text"
    class="form-control"
    id="txtServerValidity"
    placeholder="Validity in seconds"
    [(ngModel)]="serverValidity"
  />
</div>
<button type="submit" class="btn btn-primary" (click)="addServer()">Add</button>
